.cards_container {
  width: 100%;
  margin-top: 24px;
  display: flex;
}

.card {
  max-width: 262px;
  height: 190px;
  margin-right: 20px;
  width: 100%;
}

.card img {
  border-radius: 16px;
}

.card p {
  margin-top: 8px;
  margin-bottom: 12px;
  color: #222222;
}

.card span {
  font-weight: 900;
}
.second {
  margin-top: 100px;
}

.yellow {
  background-color: #fcc000;
}

/* ////////////Baner_section///////////////// */


.banner_main_container {
  display: flex;
  margin-top: 100px;
  max-width: 1330px;
  width: 100%;
}

.banner_container {
  max-width: 610px;
  width: 100%;
  border: none;
  border-radius: 30px;
  background: #eff0f4;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 265px;
  margin-right: 20px;
}

.banner_left {
  display: flex;
  height: 100%;
  min-width: 178px;
  max-width: 313px;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  padding: 1.75rem;
  padding-right: 0;
}

.banner_left p {
  margin-top: 15px;
}

.banner_text button {
  margin-top: 16px;
  padding: 10px 30px;
  border: none;
  background-color: #222222;
  color: #fff;
  font-weight: 900;
  border-radius: 20px;
}

.banner_text span {
  font-weight: 900;
}

.banner_grey_text {
  color: grey;
}

.banner_right {
  display: flex;
  align-items: flex-end;
}

.banner_right img {
  border-bottom-right-radius: 30px;
}

.banner_text {
  font-size: 20px;

}

