* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
}
header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: white;
  padding: 32px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .sticky-header {
    border-bottom: 1px solid #f3f4f6;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    box-shadow: none;
  }
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}

@media (min-width: 768px) {
  .flex-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.all-category {
  margin-left: 24px;
  display: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid #d1d5db;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5625rem;
  padding-bottom: 0.5625rem;
  font-size: 0.875rem;
  transition: all 0.3s ease;
}
.all-category:hover {
  background-color: #f3f4f6;
}

@media (min-width: 975px) {
  .all-category {
    display: flex;
  }
}

.responsive-flex {
  display: none;
  align-items: center;
}

@media (min-width: 768px) {
  .responsive-flex {
    display: flex;
  }
}

.orange_btn {
  margin-right: 1rem;
  display: none;
  padding: 12px 20px;
  background-color: #fff4cc;
  border: none;
  border-radius: 5px;
}

@media (min-width: 1230px) {
  .orange_btn {
    display: block;
  }
}

.icons {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.icons li {
  list-style-type: none;
  font-size: 22px;
}

.icons-item {
  height: 40px;
  width: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.icons-item:hover {
  background-color: #f3f4f6;
}

@media (min-width: 780px) {
  .icons-item {
    display: flex;
  }
}
.auth {
  .auth {
    margin-right: 0;
  }

  @media (min-width: 1100px) {
    .auth {
      margin-right: 0.75rem;
    }
  }
}
.login {
  padding: 12px 20px;
  border: 1px solid #d1d5db;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  cursor: pointer;
  background-color: white;
}
.login:hover {
  background-color: #f3f4f6;
}
